*~
*#
auto-save-list
recentf
ido.last
session*

# elpa
elpa

#el-get
el-get

#ac-comphist
ac-comphist.dat

#python
.python-environments

#irony
irony/

eshell

#gtags
GTAGS
GRTAGS
GPATH

#desktop and session
.session
.emacs.desktop
.emacs.desktop.lock

#w3m
url/